
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<% include header %>  
<title>Chat</title>
</head>
<body>
      <div class="container mario-chat">
          <h2>Chat Room</h2>
          <a href="/messages/all" class="btn btn-primary">Show all messages</a>
          <div class="chat-window">

              <section class="output" id="output">
                <% for (doc of docs) { %> 
                  <div class="message">
                    <p class="h5" style="color: black;"> <%= doc.auther %></p>
                    <p class="h5"><%= doc.body %></p>
                  </div>
                  <% } %>
              </section>
              <div class="feedback" id="fb"></div>
          </div>
          <input id="message" type="text" placeholder="Message" />
          <button id="btn">Send</button>
      </div>
      <br>
      <br>
      <hr>
      <% include footer %>
<script src="/assests/scripts/chat.js"></script>
<script src="/assests/scripts/page.js"></script>
</body>
</html>
