<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="/assests/particles.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	 crossorigin="anonymous">
	 <link rel="stylesheet" href="assests/partical.css">
	 <style>span {color: red;}</style>
	 <link rel="shortcut icon" href="assests/bg.png" type="image/png">
	<title>Register</title>
</head>

<body id="particles-js">
	<div >
			<%- messages('message', locals) %>
	<form class="card m-3" method="POST" action="/auth/register/" >
		<center><span style="color: red"></span></center>
		<div class="form-group p-2">
				<label for="username">User name</label>
				<span id="usr"></span>
				<input type="text" class="form-control" name="username" id="username" placeholder="User name" required>
			</div>
		
		<div class="form-group p-2">
			<label for="InputEmail">Email address</label>
			<input type="email" class="form-control" name="email" id="InputEmail" aria-describedby="emailHelp" placeholder="Email address" required>
		</div>
		<div class="form-group p-2">
			<label for="nputPassword">Password</label>
			<span id="pass"></span>
			<input type="password" class="form-control" name="password" id="InputPassword" placeholder="Password" required>
		</div>
		<div class="form-group p-2">
			<label for="InputPassword2">Retype Password</label>
			<span id="pass2"></span>
			<input type="password" class="form-control" name="password2" id="InputPassword2" placeholder="Password again" required>
		</div>
		<button type="submit" class="btn btn-primary" style="margin: 5px;" id="btn">Submit</button>
		<a href="/auth/login" class="btn-danger" style="padding: 12px;margin: 5px;text-align: center">Already registered - (Login)</a>
	</form>
</div>
</body>
<script src="/assests/partical-js.js"></script>
<script>
		let username = document.querySelector("#username");
		let password = document.querySelector("#InputPassword");
		let passConf = document.querySelector("#InputPassword2");
		let btn = document.querySelector("#btn");

		username.addEventListener("keyup",()=>{
			let s = document.getElementById("usr")
			if (username.value.length < 5) {
			s.innerHTML = "username must be at least 5 letters"
			s.style.color = "red"	
			} else {
				s.innerHTML = "valid username"
				s.style.color = "green"
			}
		});

		password.addEventListener("keyup",()=>{
			let s = document.getElementById("pass")
			if (password.value.length < 10) {
			s.innerHTML = "password must be at least 10 letters"
			s.style.color = "red"	
			} 
			if (password.value.length > 10 && password.value.length < 15) {
				s.innerHTML = "Medium"
				s.style.color = "orange"
			} if (password.value.length > 15) {
				s.innerHTML = "Strong"
				s.style.color = "green"	
			}
		});
		
		passConf.addEventListener("keyup",()=>{
		let s = document.getElementById("pass2")		
		if (password.value !== passConf.value) {
			s.innerHTML = "password doesn't match"
			s.style.color = "red"	
		} else {
			s.innerHTML = "valid password"
			s.style.color = "green"	
		}
		});		
</script>
</html>


<!-- _goog_acc_pass-wo-rd+a+l+a123321 -->
<!-- 
	
ุง
